body {
  padding: 4rem 8rem;
}
/* Style for TodoForm */
.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.todo-form-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
  flex-grow: 1;
}

.todo-form button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

/* Style for TodoList */
.todo-list-items {
  padding: 0;
  margin: 0;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li .todo-text {
  flex-grow: 1;
}

.todo-list li button {
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
